#home {
  margin-top: 80px;
}

.feed-col {
  padding: 0px;
}


.hashtag-col {
  margin-left: -20px;
}

#og-hashtag-search {
  input {
    margin: 10px auto;
    padding: 0px 25px;
    width: 300px;
  }
}
