#password-reset {
  text-align: center;
  max-width: 400px;
  margin: auto;
  border-top: black 1px solid;
  padding-top: 10px;


  h3 {
    color: $primary;
    font-weight: 300;
  }

  .form-label {
    text-align: left;
  }

  button {
    text-align: left;
  }
}

#password-reset-wrapper {
  h3 {
    text-align: center;
    color: black;
    font-weight: 300;
  }
}
