.message-box {
  text-align: center;
  background: white;
  margin: 125px auto;
  box-shadow: 0px 1px 10px 1px #ababab;
  border-radius: 3px;
  padding: 50px;
  color: $primary;
}

.message-box h1 {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 200 !important;
}
