#search-results-page {
  margin-top: 90px;
}

#search-form {
  display: inline;
  position: relative;
  margin-left: -10px;
  input {
    padding: 0px 0px 0px 10px;
    width: 90%;
    margin-left: auto;
  }
}

#search-results {
  position: absolute;
  max-height: 400px;
  overflow-y: scroll;
  background: white;
  -webkit-box-shadow: 0px 1px 10px 1px rgba(171,171,171,1);
  -moz-box-shadow: 0px 1px 10px 1px rgba(171,171,171,1);
  box-shadow: 0px 1px 10px 1px rgba(171,171,171,1);
  top: 50px;
  border-radius: 4px;
  width: 300px;
  left: -50px;
}

.search-result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-top: 1px solid $light-gray;
  text-align: right;
  background: white;
  color: black;
}

.search-result:hover {
  background: $light-gray;
  color: black;
  text-decoration: none;
}

.search-tab {
  width: 33%;
  text-align: center;
  padding: 5px;
  background: white;
  border-radius: 4px;
  margin: 3px;
  color: black;
}

.current-search-tab {
  border: 1px solid $gray;
  color: $gray-hover !important;
}

.search-tab:hover {
  border: 1px solid $gray;
  background: $light-gray;
  cursor: pointer;
}
